#paper2 {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    .btn {
        overflow: hidden;
        transform: scale(1);
        -webkit-transform: scale(1);
        position: relative;
        -webkit-box-shadow:0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }
    div {
        width: 100px;
        height: 50px;
        background: rgba(200, 0, 0, 0.3);
        overflow: hidden !important;
        border-radius: 2%;
    }
    .wave {
        height: 100%;
        width: 100%;
        border-radius:50%;
        position: absolute;
        -webkit-animation: flat-scale .7s cubic-bezier(0.23, 1, 0.32, 1) 0ms both;
    }
}

@-webkit-keyframes flat-scale {
    0% {
        opacity: 1;
        -webkit-transform: scaleX(0.7);
    }
    100% {
        opacity: 0;
        -webkit-transform: scaleX(3) scaleY(2);
    }
}