/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/cubemap.scss */
body {
  width: 100%;
}

/* line 10, ../sass/cubemap.scss */
#dashboard {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
}

/* line 16, ../sass/cubemap.scss */
#stage {
  -webkit-perspective: 100px;
  -webkit-perspective-origin: center;
  height: 100%;
}

/* line 21, ../sass/cubemap.scss */
#cube {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px;
  -webkit-transform-style: preserve-3d;
}
/* line 29, ../sass/cubemap.scss */
#cube i {
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
  -webkit-transform-origin: center center 0;
}
/* line 40, ../sass/cubemap.scss */
#cube i:nth-child(1) {
  -webkit-transform: rotateY(180deg) translateZ(-100px);
  background: url("../map/001.jpg") no-repeat;
  background-size: cover;
}
/* line 46, ../sass/cubemap.scss */
#cube i:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(-100px);
  background: url("../map/002.jpg") no-repeat;
  background-size: cover;
}
/* line 52, ../sass/cubemap.scss */
#cube i:nth-child(3) {
  -webkit-transform: rotateY(-90deg) translateZ(-100px);
  background: url("../map/004.jpg") no-repeat;
  background-size: cover;
}
/* line 58, ../sass/cubemap.scss */
#cube i:nth-child(4) {
  -webkit-transform: rotateX(-90deg) translateZ(-100px);
  background: url("../map/005.jpg") no-repeat;
  background-size: cover;
}
/* line 64, ../sass/cubemap.scss */
#cube i:nth-child(5) {
  -webkit-transform: rotateX(90deg) translateZ(-100px);
  background: url("../map/006.jpg") no-repeat;
  background-size: cover;
}
/* line 70, ../sass/cubemap.scss */
#cube i:nth-child(6) {
  -webkit-transform: rotateZ(0) translateZ(-100px);
  background: url("../map/003.jpg") no-repeat;
  background-size: cover;
}
