/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_round-btn.scss */
#paper1 {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
/* line 5, ../sass/_round-btn.scss */
#paper1 .btn {
  overflow: hidden;
  transform: scale(1);
  -webkit-transform: scale(1);
  position: relative;
}
/* line 11, ../sass/_round-btn.scss */
#paper1 div {
  width: 50px;
  height: 50px;
  background: rgba(200, 0, 0, 0.3);
  overflow: hidden !important;
  border-radius: 50%;
}
/* line 18, ../sass/_round-btn.scss */
#paper1 .wave {
  position: absolute;
  -webkit-animation: round-scale 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms both;
}

@-webkit-keyframes round-scale {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
}
/* line 1, ../sass/_flat-btn.scss */
#paper2 {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
/* line 5, ../sass/_flat-btn.scss */
#paper2 .btn {
  overflow: hidden;
  transform: scale(1);
  -webkit-transform: scale(1);
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
/* line 12, ../sass/_flat-btn.scss */
#paper2 div {
  width: 100px;
  height: 50px;
  background: rgba(200, 0, 0, 0.3);
  overflow: hidden !important;
  border-radius: 2%;
}
/* line 19, ../sass/_flat-btn.scss */
#paper2 .wave {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: flat-scale 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0ms both;
}

@-webkit-keyframes flat-scale {
  0% {
    opacity: 1;
    -webkit-transform: scaleX(0.7);
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleX(3) scaleY(2);
  }
}
/* line 1, ../sass/_app-bar.scss */
#paper3 {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
/* line 5, ../sass/_app-bar.scss */
#paper3 .btn {
  position: relative;
}
/* line 8, ../sass/_app-bar.scss */
#paper3 button {
  border: none;
  background: transparent;
  width: 38px;
  height: 38px;
  overflow: hidden;
  outline: none;
  -webkit-appearance: none;
  -webkit-transform: scale(1);
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 0;
  margin: 0;
}
/* line 23, ../sass/_app-bar.scss */
#paper3 button span {
  display: block;
  margin-top: 2px;
  background: #000;
  width: 38px;
  height: 5px;
  border-radius: 2px;
}
/* line 32, ../sass/_app-bar.scss */
#paper3 .wave {
  width: 100%;
  height: 100%;
  background: rgba(200, 0, 0, 0.3);
  overflow: hidden !important;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: round-scale 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms both;
  -webkit-transform-origin: center;
}

@-webkit-keyframes round-scale {
  0% {
    opacity: 1;
    -webkit-transform: scale(0.1);
  }
  100% {
    opacity: 0.1;
    -webkit-transform: scale(2);
  }
}
/* line 5, ../sass/material.scss */
.paper {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}
